body{
    background-color: #969378;
}
.container{
    background-color: #636788;
}
.nav-item:hover{
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
}
.navbar-brand{
    color: white;
}
.logo{
    font-size: 50px;
    text-align: center;
}
.sublogo{
    font-size: 15px;
    text-align: center;
    padding-top: 1px;
}
.parrafoTitulo{
    text-align: center;
    padding: 25px 2px;
}

